@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
    font-family: 'Open Sans', sans-serif; 
}


@media (max-width:460px){

body{
    background-image: url(img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0 0 0.8;
    overflow-x: hidden;
}

.menu{
    display: block;
    align-items: center;
    margin: auto;
    background-color: rgba(0,0,0,.75);
    width: 100%;
    text-align: left;
    color: white;
}

.contact{
    margin-left: 5px;
    margin-right: 5px;
}

.email{
width: 95%;;
height: 25px;
border-radius: 7px;

}

.password{
    width: 95%;;
    height: 25px;
    border-radius: 7px;
}

button{
    width: 97%;
    padding: 5px;
    border-radius: 7px;
    background-color: red;
    color:white;
    border: black;
}

.checkbox{
    margin-left: 5px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
}

.facebook{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-left: 5px;
}

.p1{
    color:white;
}
.paragrafo{
    margin: 7px;
    font-size: 12px;
    color:#646464;
}

footer{
    display: block;
    background-color: rgba(0, 0, 0, 0.637);
    font-size: 12px;
    color:#646464;
}

ul{
    margin-left: -5px;
}

.duvidas{
    margin-left: 10px;
}
}

@media (min-width:460px){
    body{
        background-image: url(img/fundo.jpg);
        background-repeat: no-repeat;
        opacity: 0 0 0.8;
        max-width: 100%;
	    height: 100% ;
        overflow-x: hidden;
    }

    .menu{
        display: block;
        align-items: center;
        margin: auto;
        background-color: rgba(0,0,0,.75);
        width: 40%;
        text-align: left;
        color: white;
    }
    
h2{
    font-size: 25px;
    margin-left: 5px;
    text-align: center;
}

    
    .email{
    margin-left: 2%;
    width: 94%;;
    height: 45px;
    border-radius: 7px;
    
    }
    
    .password{
        margin-left: 2%;
        width: 94%;;
        height: 45px;
        border-radius: 7px;
    }
    
    button{
        text-transform: uppercase;
        margin-left: 2%;
        width: 96%;
        padding: 15px;
        border-radius: 7px;
        background-color: red;
        color:white;
        border: black;
    }
    
    .checkbox{
        margin-left: 2%;
        margin-right: 2%;
        margin-right: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 15px;
    }
    
    .facebook{
        margin-left: 2%;
        display: flex;
        flex-direction: row;
        font-size: 12px;
        margin-left: 5px;
    }
    
    .p1{
        color:white;
    }
    .paragrafo{
        margin-right: 2%;
        margin-left: 2%;
        font-size: 15px;
        color:#646464;
    }
    
    footer{
        display: block;
        background-color: rgba(0, 0, 0, 0.637);
        font-size: 15px;
        color:#646464;
    }
    
    ul{
        margin-left: -5px;
    }
    
    .duvidas{
        margin-left: 10px;
    }
}